.users-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.page-title {
    color: white;
    font-size: 2rem;
  }
  
  input,
  select {
    padding: 8px;
    border: 1px solid var(--gray);
    border-radius: 4px;
  }
  .input-container{
    width: 70%;
  }
  
  .user-table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 10px;
    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .user-table th {
    background-color: var(--primary-color);
    color: white;
  }
  .delete-button{
    color: white;
    cursor: pointer;
    background-color: #0a192f;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
  }
  .delete-button:hover {
    background-color: red;
  }